/* Mobile & Tablet */
@media (max-width: 1023px){
    :root{
        --header-height: 68px;
    --navbar-height: 0px;
    }
      .hide-on-mobile-tablet{
          display: none;
      }
      .header{
          position: fixed;
          z-index: 10;
          right: 0;
          left: 0;
          top: 0;
      }
      .header__cart-list{
          position: fixed;
          width: 100%;
          top: var(--header-height);
          right: 0;
          padding: 0 calc((100% - 644px) / 2);
      }
      .header__cart-list::after{
          display: none;
      }
      .app__container{
          margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
      }
      .header__soft-bar{
          display: flex;
      }
}
/* tablet */
@media (min-width: 740px) and (max-width: 1023px){
   .hide-on-tablet{
       display: none;
   }
   .header__cart {
    width: 80px;
    text-align: right;
   }
}
/* Mobile */
@media (max-width: 739px){
    .hide-on-mobile{
        display: none;
    }
    .header-with-search{
        justify-content: space-between;
    }
}
